/* * {
  outline: 1px dashed red;
} */

:root {
  --theme1: #8a00d4;
  --theme2: #d527b7;
  --theme3: #f782c2;
  --theme4: #f9c46b;
  --theme5: #e3e3e3;
}

a {
  color: unset;
  text-decoration: unset;
}

a:hover {
  color: var(--theme5)
}

a:visited {
  color: var(--theme5);
  opacity: 0.9;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: 2px solid blue;
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  font-family: sans-serif;
}

h1, h2 {
  color: rgba(255, 255, 255);
  text-transform: uppercase;
}

h2 {
  font-size: 0.9em;
}